<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
  <div class="header">
    <h1>CHAITANYA BHARATHI INSTITUTE OF TECHNOLOGY</h1>
    <p>Placement Cell</p>
  </div>
  <div class="content">
    <div class="container">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" style="font-size:medium;">Login</button>
        <a href="mailto:placements@cbit.ac.in" class="forgot-password" style="font-size: medium;">Forgot Password?</a>
        <% if (errorMessage) { %>
          <p class="error-message" style="color:red ;font-weight:900;"><%= errorMessage %></p>
        <% } %>
      </form>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2023 CHAITANYA BHARATHI INSTITUTE OF TECHNOLOGY. All rights reserved.</p>
  </div>
</body>
</html>
