.navbar-nav {
  margin: 0 auto;
  width: 100%;
}
.nav-link {

  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item {
  margin: 0 20px;
}

.navbar-brand  {
  font-size: 10px;
  margin-right: auto;
  margin-left: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
/* Fixed width for the student name */
.navbar-brand h3 {
  font-size: 30px;
  width: 450px; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* Space for navigation items */
.navbar-nav {
  flex-grow: 1; /* Occupy remaining available space */
}
