
/* Fixed width for the student name */
.navbar-brand h3 {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto; 
  font-size: 30px;
}

/* Styling for the navigation items */
.navbar-nav .nav-item {
  margin-right: 10px; 
/* Adjust margin as needed for spacing between items */
}

/* Ensure that the last item in the navbar takes up remaining space */
.navbar-nav .nav-item:last-child {
  margin-right: 20px; /* Remove margin from the last item */
  margin-left: auto; /* Push the last item to the right */
}

/* Styling for the last item (Menu) */
.navbar-nav .nav-item:last-child .nav-link {
  padding-right: 20px; /* Adjust padding as needed for spacing */
  
}

/* Set the color of navigation items to white */
.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 25px;
  justify-content: space-around;
}
